body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: red;
}
ol {
  color: blue;
}
#step3 {
  color: black;
}
.green-color {
  color: rgb(8, 32, 8);
}
